<head>
  <title>jtweet</title>
</head>

<body>
  {{> hello}}
</body>

<template name="hello">
  <div class="center-box" style="width: 480px;">
		<div class="antiscroll-wrap">
			<div class="antiscroll-inner">
				<ul class="tweetsList_meth" style="padding: 0;">
					<!--
					<li class="box blue white-font">
						<a class="body-box">
							<h2 class="title light">yesterday
								<img src="https://si0.twimg.com/profile_images/3106524836/0e83d22a9c1a30cd53e30f0fc6412da2_normal.jpeg" class="" title="" style="height:24px; width: 24px; float: right;">
							</h2>
						</a>
						<div>
							<a target="_blank" class="twtr-atreply" href="http://twitter.com/intent/user?screen_name=Brogers821">@Brogers821</a>: <a target="_blank" class="twtr-atreply" href="http://twitter.com/intent/user?screen_name=jtimberlake">@jtimberlake</a> JT my lil man Ryan just had his bday. Lil 6yr old loves Suit &amp; Tie. Love it! Happy Bday to your lil' guy, broham!
						</div>
						<div class="wrap-div">
							<img class="speaker" src="http://api.twitter.com/1/users/profile_image/undefined" title="undefined">
							<img class="speaker" src="http://api.twitter.com/1/users/profile_image/undefined" title="undefined">
						</div>
					</li>
					-->
				</ul>
			</div>		
		</div>
		<ul class="line-pager clearfix">		
			<li class="pager-next last loadMoreTweet_meth">
				<a title="Load More"> more »</a>
			</li>
		</ul>
</div>
</template>
